 body {
     box-sizing: border-box;
 }


 :root {
     --orange:#f4511e;
     --white:#FFFFFF;
     --black:#000000;
     --lightred:#d9534f;
     --red:#ff0000;
 }


                             /*-------------------------------------
                             ------- NAVBAR - .nav1 - #iconbar -----
                             -------------------------------------*/

 .nav1 {
     background-color: var(--orange);
     letter-spacing: 4px;
     font: 12px montserrat, sans-serif;
 }


 .nav1 .navbar-header .navbar-brand,
 .nav1 .navbar-nav a {
     color: var(--white);
 }


 .nav1 .navbar-nav a:hover {
     background-color: var(--white);
     color: var(--orange);
     font-weight: bolder;
     text-shadow: 1px 1px var(--black);
 }


 #iconbar {
     background-color: var(--white);
 }


 .navbar-toggle:hover {
     background-color: var(--white);
}


 .navbar-toggle:hover #iconbar {
     background-color: var(--orange);
     box-shadow: 1px 1px var(--black);
}


                             /*--TOP CONTAINER - .topcon - COMPANY --
                             --------------- EMAIL ------------------
                             ------------- SUBSCRIBE ---------------*/

 .topcon {
     text-align: center;
     background-color: var(--orange);
     color: var(--white);
     padding: 100px 0px;
 }


 .topcon h1 {
     font: 63px montserrat, sans-serif;
 }


 .topcon p {
     font: 21px montserrat, sans-serif;
 }


 .topcon form {
     font-family: montserrat, sans-serif;
     margin-top: 20px;
 }


 #email,
 #email:link,
 #email:visited {
     width: 410px;
     height: 38px;
     border-top-left-radius: 15px;
     border-bottom-left-radius: 15px;
     color: var(--black);
     border: 1px solid var(--black);
     border-right: none;
     outline: none;
     padding: 0px 16px;
     font-weight: bold;
 }


 #subscribe {
     margin-left: -3px;
     padding: 8px 18px;
     border-top-right-radius: 15px;
     border-bottom-right-radius: 15px;
     border: 1px solid var(--black);
     background-color:var(--lightred);
 }


 #subscribe:hover {
     background-color:var(--red);
     font-weight: bolder;
 }


                             /*------ @MEDIA SCREEN {} -------------
                             -------- EMAIL - SUBSCRIBE ------------
                             -------- NAVBAR & --------------------- 
                             ------- .topcon HEADING -------------*/

 @media screen and (max-width:569px) {
     .navbar-nav {
         border-top: 1px solid var(--white);
     }
     #subscribe {
         border-top-left-radius: 15px;
         border-bottom-left-radius: 15px;
         margin-top: 10px;
     }
     #email {
         border-top-right-radius: 15px;
         border-bottom-right-radius: 15px;
         border-right: 1px solid var(--black) !important;
     }
     .topcon h1 {
         font: 36px montserrat, sans-serif !important;
     }
 }


  @media screen and (max-width:349px) {
     #email {
         width: 235px;
     }
 }


 @media screen and (min-width:350px) and (max-width:369px) {
     #email {
         width: 235px;
     }
 }


 @media screen and (min-width:370px) and (max-width:389px) {
     #email {
         width: 250px;
     }
 }


 @media screen and (min-width:390px) and (max-width:408px) {
     #email {
         width: 265px;
     }
 }


 @media screen and (min-width:409px) and (max-width:430px) {
     #email {
         width: 280px;
     }
 }


                             /*------- ABOUT COMPANY PAGE --------------
                             --------- OUR VALUES ----------------------
                             -------- .acp_con-flu || .our -------------
                             -------- .acp || .our_row -----------------
                             -------- .acp_col1 || .our_col2 -----------
                             -------- .btn (Get in Touch) --------------
                             -------- .acp_col2 || .our_col1 -----------
                             -------- #bargraph || #globe ------------*/
                            
 .acp_con-flu,
 .our {                      /*------------ .our -------------*/
     padding-top: 30px;
 }


 .acp,
 .our_row {                  /*---------- .our_row -----------*/
     padding: 40px;
     font-family: Lato, sans-serif;
 }


 .acp_col1,
 .our_col2 {                 /*---------- .our_col_2 ---------*/
     position: relative;
     padding-top: 1px;
 }


 .acp .acp_col1 h2,
 .our_row .our_col2 h2 {
     font-size: 24px;
     font-weight: bolder;
 }


 .acp .acp_col1 h4,
 .our_row .our_col2 h4 {
     font-size: 19px;
     line-height: 28px;
     padding-top: 20px;
 }


 .acp .acp_col1 p,
 .our_row .our_col2 p {
     font-size: 15px;
     line-height: 28px;
     padding-top: 20px;
 }


 .acp_col1 .btn {
     background-color: var(--orange);
     border-radius: 15px;
     border: 1px solid var(--black);
 }


 .acp_col1 .btn a {
     text-decoration: none;
     color: var(--white);
     font-weight: lighter;
 }


 .acp_col1 .btn:hover {
     background-color: var(--red);
 }


 .acp_col1 .btn:hover a {
     font-weight: bolder;
 }


 .acp_col1 .btn:active {
     background-color: var(--white);
     border: 3px solid var(--orange);
 }


  .acp_col1 .btn:active a {
     color: var(--black);
     font-weight: lighter;
 }


 .acp_col2,
 .our_col1 {                 /*---------- .our_col_1 --------------*/
     padding: 2px 0px 2px 15px;
 }


 #bargraph,
 #globe {                    /*------------ #globe -----------------*/
     color: var(--orange);
     font-size: 200px;
 }


                             /*--------------------------------------
                             ------------ MEDIA SCREEN {} -----------
                             ----------- .btn (Get in Touch) --------
                             ----------- .acp_col2 ------------------
                             ----------- .our_col_1 -----------------
                             --------------------------------------*/

 @media screen and (max-width: 768px) {
     .acp_col1 .btn {
         width: 100%;
     }
     .acp_col2,
     .our_col1 {             /*---------- .our_col_1 --------------*/
         text-align: center;
         top: 35px;
         padding: 35px 0px;
     }
 }


                             /*-------------- .services -------------
                             ---------------- .serv_row1 ------------
                             ------------- .row2_col1 - 2 - 3 -------
                             ---------------- .serv_row2 ------------
                             ------------- .row2_col1 - 2 - 3 -----*/
                            
 .services {
     padding-top: 40px;
     font-family: Lato, sans-serif;
 }


 .services h2 {
     font-weight: bolder;
     font-size: 24px;
     text-align: center;
     margin-top: 40px;
 }


 .services h4 {
     font-size: 19px;
     text-align: center;
     margin-top: 25px;
     margin-bottom: 30px;
 }


 .serv_row1,
 .serv_row2 {
     margin: 50px 20px;
 }


 .row1_col1,
 .row1_col2,
 .row1_col3,
 .row2_col1,
 .row2_col2,
 .row2_col3 {
     text-align: center;
     margin-top: 25px;
 }


 #servicon {
     margin-top: 0px;
     font-size: 50px;
     color: var(--orange);
 }


 .serv_row1 .row1_col1 .hfour,
 .serv_row1 .row1_col2 .hfour,
 .serv_row1 .row1_col3 .hfour,
 .serv_row2 .row2_col1 .hfour,
 .serv_row2 .row2_col2 .hfour,
 .serv_row2 .row2_col3 .hfour {
     margin-top: 15px;
     font-size: 19px;
 }


 .serv_row1 .row1_col1 p,
 .serv_row1 .row1_col2 p,
 .serv_row1 .row1_col3 p,
 .serv_row2 .row2_col1 p,
 .serv_row2 .row3_col2 p,
 .serv_row2 .row2_col3 p  {
     font-size: 15px;
     line-height: 28px;
     margin-top: 35px;
 }


                             /*-------------- .portfolio ------------
                             ---------------- .port_row -------------
                             ---------------- .thumbnail ------------
                             ---------------- .thumb_p1 -------------
                             ---------------- .carousel -----------*/
                            
  .portfolio {
     padding-top: 40px;
     font-family: Lato, sans-serif;
     background-color: #f6f6f6;;
 }


 .portfolio h2 {
     font-weight: bolder;
     font-size: 24px;
     text-align: center;
     margin-top: 40px;
 }


 .portfolio h4 {
     font-size: 19px;
     text-align: center;
     margin-top: 55px;
     margin-bottom: 50px;
 }


 .port_row {
     margin: 0px 5px 5px;
 }


 .port_row img {
     width: 100%;
     height: 100%;
     border-radius: 50px;
 }


 .port_row .thumbnail {
     padding: 20px;
     background-color: #424642;
     border-radius: 60px;
     box-shadow: 15px 15px var(--black);
 }


 .port_row .thumbnail .thumb_p1 {
     margin: 15px 0px;
     font: 20px Lato, sans-serif;
     letter-spacing: 5px;
     color: var(--orange);
     font-weight: bolder;
     text-shadow: 1px 1px var(--orange);
 }


 .port_row .thumbnail .help-block {
     font: 15px Lato, sans-serif;
     color: var(--white);
 }


 .portfolio h2 {
     margin-top: 50px;
     margin-bottom: 25px;
 }










 /*=====================================================================================================================================================
 =======================================================================================================================================================*/


 /*-----IGNORE--------(SORRY FOR THIS)-----------IGNORE--------(SORRY FOR THIS)-------------IGNORE---------(SORRY FOR THIS)--------
 -------IGNORE--------(SORRY FOR THIS)-----------IGNORE--------(SORRY FOR THIS)-------------IGNORE---------(SORRY FOR THIS)--------
 -------IGNORE--------(SORRY FOR THIS)-----------IGNORE--------(SORRY FOR THIS)-------------IGNORE---------(SORRY FOR THIS)--------                          
 -------IGNORE--------(SORRY FOR THIS)-----------IGNORE--------(SORRY FOR THIS)-------------IGNORE---------(SORRY FOR THIS)--------                          
 -------IGNORE--------(SORRY FOR THIS)-----------IGNORE--------(SORRY FOR THIS)-------------IGNORE---------(SORRY FOR THIS)--------                          
 -------IGNORE--------(SORRY FOR THIS)-----------IGNORE--------(SORRY FOR THIS)-------------IGNORE---------(SORRY FOR THIS)--------                          
 -------IGNORE--------(SORRY FOR THIS)-----------IGNORE--------(SORRY FOR THIS)-------------IGNORE---------(SORRY FOR THIS)--------
 -------IGNORE--------(SORRY FOR THIS)-----------IGNORE--------(SORRY FOR THIS)-------------IGNORE---------(SORRY FOR THIS)--------                          
 -------IGNORE--------(SORRY FOR THIS)-----------IGNORE--------(SORRY FOR THIS)-------------IGNORE---------(SORRY FOR THIS)--------                          
 -------IGNORE--------(SORRY FOR THIS)-----------IGNORE--------(SORRY FOR THIS)-------------IGNORE---------(SORRY FOR THIS)--------                          
 -------IGNORE--------(SORRY FOR THIS)-----------IGNORE--------(SORRY FOR THIS)-------------IGNORE---------(SORRY FOR THIS)--------                          
 -------IGNORE--------(SORRY FOR THIS)-----------IGNORE--------(SORRY FOR THIS)-------------IGNORE---------(SORRY FOR THIS)--------                          



                             ------ABOUT COMPANY PAGE-
                             ----- .acp --------------
                             ------------------------

  .acp {
     margin: 85px 22px;
 }


 .acp .acp_p1 {
     position: absolute;
     padding-top: 60px;
     line-height: 25px !important;
 }


 .acp .acp_p2 {
     position: absolute;
     padding-top: 200px !important;
     line-height: 25px !important;
 }


 #git_btn {
     position: relative;
     top: 30px;
 }


 #git_btn button {
     padding: 10px;
 }    
                             ---------------------------------------
                             ------------ @MEDIA SCREEN {} -----------
                             ------------ .acp - .acp_p2 -------------
                             ---------------------------------------

 @media screen and (max-width:386px) {
     .acp .acp_p2 {
         margin-top: 135px;
     }
 }


 @media screen and (min-width:387px) and (max-width:410px) {
     .acp .acp_p2 {
         margin-top: 120px;
     }
 }


  @media screen and (min-width:411px) and (max-width:450px) {
     .acp .acp_p2 {
         margin-top: 100px;
     }
 }


 @media screen and (min-width:451px) and (max-width:569px) {
     .acp .acp_p2 {
         margin-top: 75px;
     }
 }


  @media screen and (min-width:570px) and (max-width:720px) {
     .acp .acp_p2 {
         margin-top: 50px;
     }
 }


 @media screen and (min-width:721px) and (max-width:1050px) {
     .acp .acp_p2 {
         margin-top: 40px;
   }
 } 


                             -----------------------------------------
                             ------------- @MEDIA SCREEN {} ------------
                             -------- .acp - .acp_img (Bargraph) -------
                             -----------------------------------------

   @media screen and (max-width:386px) {
     .acp .acp_img {
         margin-top: 800px;
     }
 }


 @media screen and (min-width:387px) and (max-width:410px) {
     .acp .acp_img {
         margin-top: 700px;
         margin-left: 15px;
         margin-right: 15px;
     }
 }


 @media screen and (min-width:411px) and (max-width:450px)  {
     .acp .acp_img {
         margin-top: 600px;
         margin-left: 37px;
         margin-right: 37px;
     }
 }


 @media screen and (min-width:451px) and (max-width:500px) {
     .acp .acp_img {
         margin-top: 600px;
         margin-left: 60px;
         margin-right: 60px;
     }
 }


 @media screen and (min-width:501px) and (max-width:569px)  {
     .acp .acp_img {
         margin-top: 600px;
         margin-left: 90px;
         margin-right: 90px;
     }
 }


 @media screen and (min-width:570px)  and (max-width:650px) {
     .acp .acp_img {
         margin-top: 500px;
         margin-left: 132px;
         margin-right: 132px;
     }
 }


 @media screen and (min-width:651px) and (max-width:768px) {
     .acp .acp_img {
         margin-top: 500px;
         margin-left: 165px;
         margin-right: 165px;
     }
  } 
 */